<div class="row">
  <%= form_for @tweet, class: "col s12" do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :text, id: "textarea1", class: "materialize-textarea" %>
        <label for="textarea1"></label>
      </div>
    </div>
    <%= f.submit "送信", class: "waves-effect waves-light btn-large" %>
  <% end %>
</div>