 <div class="row">
  <div class="col s12 m6">
    <div class="card white">
      <div class="card-content blue-text">
        <p>
          <%= tweet.text %>
        </p>
      </div>
      <div class="card-action">
        <% if user_signed_in? && tweet.user_id == current_user.id %>
          <a href="#">編集</a>
          <a href="#">削除</a>
        <% end %>
      </div>
    </div>
  </div>
</div>