<div class="row">
  <div class="col s12 m6">
    <div class="card white">
      <div class="card-content blue-text">
        <span class="card-title">タイトル</span>
        <p> こんにちは </p>
      </div>
      <div class="card-action">
        <a href="#">編集</a>
        <a href="#">削除</a>
      </div>
    </div>
  </div>
</div>